IDI_ICON1   ICON    DISCARDABLE     "securenotepad.ico"

1 VERSIONINFO
FILEVERSION 0,1,4,0
PRODUCTVERSION 0,1,4,0
FILEOS 0x4
FILETYPE 0x1
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName", "BluePandaTech"
            VALUE "FileDescription", "Secure WordVault"
            VALUE "FileVersion", "0.1.4.0"
            VALUE "InternalName", "securewordvault_exe"
            VALUE "LegalCopyright", "Copyright (C) 2010 BluePandaTech."
            VALUE "OriginalFilename", "securewordvault.exe"
            VALUE "ProductName", "Secure WordVault"
            VALUE "ProductVersion", "0.1.4.0"
            VALUE "CompanyShortName", "BluePandaTech"
            VALUE "ProductShortName", "Secure WordVault"
            VALUE "Official Build", "0"
        }
    }
}
